
/* Body */
body {
    background-image: url("https://c.wallhere.com/photos/1d/62/futuristic_cityscape_futuristic_city-215283.jpg!d");
    height: 850px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
