
/* body */
body {
    background-image: url("https://cdn.pixabay.com/photo/2016/03/27/07/32/clouds-1282314_960_720.jpg");
    height: 850px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* nav bar */
  .navbar {
    max-height: 50px;
  }
  .navigation .navbar-brand {
    color: cornflowerblue;
    margin-left: 0px;
    padding: inherit;
    font-weight: normal;
    background-color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }
  .navbar {
    background-color: white;
    font-size: 12px; 
 
  }